.navBarSticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index:99;
    background-color: white;
    margin-top: 4px;
  }

.navBar{
  padding-top: 17px;
  padding-bottom: 17px;
}

.link{
  color: dimgray;
  text-decoration: none;
  text-transform:uppercase;
  padding: 3px;
  margin: 3px;
}
  
.link:hover{
  cursor: pointer;
  color: dimgray;
  text-decoration: none;
  border-bottom: 3px solid dimgray;
}

.is_active{
  border-bottom: 3px solid dimgray;
  cursor: pointer;
  color: dimgray;
  font-weight: bold;
}
